<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: title}); %>
  </head>
  <body>
    <%- include("partials/navbar", {loggedIn: true}); %>
    <%- include("partials/messages"); %>

    <div class="container-sm shadow-lg py-4 rounded" style="margin-top: 100px;">
      <h1 class="display-3 text-center mt-5 mb-3">
        Welcome to your dashboard!
      </h1>
      <p class="lead text-center my-5">This is the dashboard.</p>
      <p class="fs-6 text-center mb-3">Check out these features:</p>
      <ul class="list-inline d-flex justify-content-center mt-4">
        <li class="list-inline-item">
          <a class="text-decoration-none" href="/users/profile">Profile</a>
        </li>
        <li class="list-inline-item px-3">
          <a class="text-decoration-none" href="/tasks">Tasks</a>
        </li>
        <li class="list-inline-item pe-3">
          <a class="text-decoration-none" href="/posts">Posts</a>
        </li>
        <li class="list-inline-item">
          <a class="text-decoration-none" href="/reviews">Movie reviews</a>
        </li>
      </ul>
      <hr class="w-75 text-muted my-5 mx-auto">
      <p class="fs-6 text-center">API endpoints</p>
      <ul class="list-group list-group-flush w-25 mx-auto mt-4 mb-3">
        <li class="list-group-item text-success">/api/v1/auth</li>
        <li class="list-group-item text-success">/api/v1/users</li>
        <li class="list-group-item text-success">/api/v1/products</li>
        <li class="list-group-item text-success">/api/v1/reviews</li>
        <li class="list-group-item text-success">/api/v1/orders</li>
      </ul>
    </div>
    <div class="text-center my-4">
      <form action="/logout?_method=DELETE" method="post">
        <button type="submit" class="btn btn-outline-danger">Log out</button>
      </form>
    </div>
  </body>
</html>
