<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: title}); %>
  </head>
  <body>
    <%- include("partials/navbar", {loggedIn: false}); %>
    <%- include("partials/messages"); %>

    <div class="container-sm mb-5 pt-5">
      <h1 class="display-4 text-center" style="margin-top: 100px;">Reset your password</h1>
      <p class="text-center lead fs-6 mt-5">Enter your email address below to receive a link to securely reset your password. Password reset links expire after 10 minutes.</p>
      <form action="/forgot-password" method="post" class="mx-auto my-5" style="max-width: 600px">
        
        <!-- Email input -->
        <div class="form-floating mx-auto my-5">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" autocomplete="off" required/>
          <label for="email">Email</label>
        </div>

        <!-- Reset password button -->
        <div class="d-grid col-6 mx-auto">
          <button class="btn btn-outline-success" type="submit">Send link</button>
        </div>
      </form>
    </div>
  </body>
</html>
