<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: title}); %>
    <link rel="stylesheet" href="/public/products.css">
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <%- include("partials/messages"); %>
    <div class="container-sm my-5 pt-5">
      <h1 class="mt-4 mb-4 text-center">Products API Home</h1>
      <hr class="sep">
      <div class="btn-box d-flex justify-content-center flex-wrap align-content-center">
        <button type="button" id="get_all_orders" class="btn btn-general me-4 mt-3">Get all products</button>
        <button type="button" class="btn btn-general me-4 mt-3">Get a single product</button>
        <button type="button" class="btn btn-general me-4 mt-3">Create product</button>
        <button type="button" class="btn btn-general me-4 mt-3">Update product</button>
        <button type="button" class="btn btn-general me-4 mt-3">Delete product</button>
        <button type="button" class="btn btn-general mt-3">Upload image</button>
      </div>
      <hr class="my-4 sep">
      <form action="/api/v1/products" method="post">
        <h2>Create a new product</h2>
        <!-- Product name -->
        <div class="group">
          <input type="text" name="product_name" id="product_name" placeholder="Product name">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_name">Product name</label>
        </div>
        <!-- Price -->
        <div class="group">
          <input type="number" name="product_price" id="product_price" placeholder="Price">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_price">Price</label>
        </div>
        <!-- Description -->
        <div class="group">
          <input type="text" name="product_description" id="product_description" placeholder="Product description">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_description">Product description</label>
        </div>
        <!-- Image -->
        <div class="mx-3 mt-4">
          <input type="file" name="product_image" id="product_image" placeholder="Product image">
        </div>
        <!-- Category -->
        <div class="group">
          <input type="text" name="product_category" id="product_category" placeholder="Product category">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_category">Product category</label>
        </div>
        <!-- Company -->
        <div class="group">
          <input type="text" name="product_company" id="product_company" placeholder="Product company">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_company">Product company</label>
        </div>
        <!-- Colors -->
        <div class="group">
          <input type="colors" name="product_colors" id="product_colors" placeholder="Product colors">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="product_colors">Product colors</label>
        </div>
        <!-- Inventory -->
        <div class="group">
          <input type="number" name="inventory" id="inventory" placeholder="Inventory">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label for="inventory">Inventory</label>
        </div>
        <!-- Submit button -->
        <div class="btn-box">
          <button class="btn btn-submit" type="submit">Create Product</button>
        </div>
      </form>
      <hr class="my-4">
    </div>
  </body>
</html>